In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import scipy.stats as stats
import seaborn as sns
import os

In [2]:
cwd = os.getcwd()
print(cwd)

C:\Users\Carola Hoffmann\Desktop\Data Science\Visualización

In [3]:
os.listdir()

['.ipynb_checkpoints',
 '01 - Introducción a matplotlib.ipynb',
 '02 - Visualización de datos.ipynb',
 '03 - Mapas y redes.ipynb',
 '04 - Datos multidimensionales, de jerarquía y de flujo.ipynb',
 '05 - Caso de Estudio - Establecimientos Educacionales.ipynb',
 '06 - Interactividad.ipynb',
 'Tarea_Visualizacion_V4.ipynb',
 'Tarea_Visualizacion_V4_2-Copy1.ipynb',
 'Tarea_Visualizacion_V4_3.ipynb',
 'Temperaturas',
 'tendencia.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [7]:
temp2018 = pd.DataFrame(columns = ['CodigoNacional','NombreEstacion', 'Latitud','Altura', 'Año', 'Mes', 'Dia','T.Maxima','T.Minima'
])

for Mes in range(1,13):
    path = f"Temperaturas/temperatura_{Mes}2018.csv"
    frame = pd.read_csv(path, sep=";", low_memory =False)
    
    temp2018 = pd.concat([temp2018, frame])

In [16]:
temp2018.head()

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,1,20.7,26.5
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,2,19.9,26.5
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,3,18.5,25.0
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,4,17.4,23.9
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,5,17.6,25.5

In [12]:
temp2019 = pd.DataFrame(columns = ['CodigoNacional','NombreEstacion', 'Latitud','Altura', 'Año', 'Mes', 'Dia','T.Maxima','T.Minima'
])

for Mes in range(1,13):
    path = f"Temperaturas/temperatura_{Mes}2019.csv"
    frame = pd.read_csv(path, sep=";", low_memory =False)
    
    temp2019 = pd.concat([temp2019, frame])

In [13]:
temp2019

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2019,1,1,19.0,25.2
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2019,1,2,19.8,25.0
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2019,1,3,20.4,25.0
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2019,1,4,20.5,25.9
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2019,1,5,19.7,25.9
...,...,...,...,...,...,...,...,...,...
987,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2019,12,27,1.3,7.0
988,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2019,12,28,1.1,4.7
989,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2019,12,29,0.7,5.1
990,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2019,12,30,-0.1,2.7
991,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2019,12,31,1.1,3.1

In [28]:
temp2020 = pd.DataFrame(columns = ['CodigoNacional','NombreEstacion', 'Latitud','Altura', 'Año', 'Mes', 'Dia','T.Maxima','T.Minima'
])

for Mes in range(1,13):
    path = f"Temperaturas/temperatura_{Mes}2020.csv"
    frame = pd.read_csv(path,  sep=";", encoding='latin', low_memory =False)
    
    temp2020 = pd.concat([temp2020, frame])

In [29]:
temp2020

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2020,1,1,18.9,26.3
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2020,1,2,21.0,26.4
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2020,1,3,20.8,26.1
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2020,1,4,20.3,26.2
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2020,1,5,21.1,26.5
...,...,...,...,...,...,...,...,...,...
1004,950001,"C.M.A. Eduardo Frei Montalva, AntÃ¡rtica",62&deg 11' 31'' S,45,2020,12,27,0.8,3.6
1005,950001,"C.M.A. Eduardo Frei Montalva, AntÃ¡rtica",62&deg 11' 31'' S,45,2020,12,28,-0.2,1.8
1006,950001,"C.M.A. Eduardo Frei Montalva, AntÃ¡rtica",62&deg 11' 31'' S,45,2020,12,29,0.6,2.2
1007,950001,"C.M.A. Eduardo Frei Montalva, AntÃ¡rtica",62&deg 11' 31'' S,45,2020,12,30,-0.2,1.5
1008,950001,"C.M.A. Eduardo Frei Montalva, AntÃ¡rtica",62&deg 11' 31'' S,45,2020,12,31,0.5,4.3

In [46]:
temp2021 = pd.DataFrame(columns = ['CodigoNacional','NombreEstacion', 'Latitud','Altura', 'Año', 'Mes', 'Dia','T.Maxima','T.Minima'
])

for Mes in range(1,7):
    path = f"Temperaturas/temperatura_{Mes}2021.csv"
    frame = pd.read_csv(path, sep=";", low_memory =False)
    
    temp2021 = pd.concat([temp2021, frame])

In [47]:
temp2021

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2021,1,1,19.9,24.8
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2021,1,2,20.7,24.9
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2021,1,3,21.3,25.3
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2021,1,4,20.5,26.2
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 20'' S,50,2021,1,5,19.6,25.6
...,...,...,...,...,...,...,...,...,...
984,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,26,-1.7,-0.8
985,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,27,-2.1,1.6
986,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,28,-0.6,1.4
987,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,29,-1.0,0.2
988,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,30,-2.2,0.4

In [48]:
Temp2018_2021 = pd.concat([temp2018, temp2019, temp2020,temp2021], axis=0)

In [49]:
Temp2018_2021

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,1,20.7,26.5
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,2,19.9,26.5
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,3,18.5,25.0
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,4,17.4,23.9
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,5,17.6,25.5
...,...,...,...,...,...,...,...,...,...
984,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,26,-1.7,-0.8
985,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,27,-2.1,1.6
986,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,28,-0.6,1.4
987,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,29,-1.0,0.2
988,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,30,-2.2,0.4

In [50]:
Temp2018_2021['T.Media'] = (Temp2018_2021['T.Minima'] + Temp2018_2021['T.Maxima'])/2

In [54]:
Temp2018_2021

,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima,T.Media
0,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,1,20.7,26.5,23.6
1,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,2,19.9,26.5,23.2
2,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,3,18.5,25.0,21.75
3,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,4,17.4,23.9,20.65
4,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,5,17.6,25.5,21.55
...,...,...,...,...,...,...,...,...,...,...
984,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,26,-1.7,-0.8,-1.25
985,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,27,-2.1,1.6,-0.25
986,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,28,-0.6,1.4,0.4
987,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,29,-1.0,0.2,-0.4
988,950001,"C.M.A. Eduardo Frei Montalva, Antártica",62&deg 11' 31'' S,45,2021,6,30,-2.2,0.4,-0.9

In [58]:
Temp2018_2021[['NombreEstacion','CodigoNacional'] ]

                               NombreEstacion CodigoNacional
0                       Chacalluta, Arica Ap.         180005
1                       Chacalluta, Arica Ap.         180005
2                       Chacalluta, Arica Ap.         180005
3                       Chacalluta, Arica Ap.         180005
4                       Chacalluta, Arica Ap.         180005
..                                        ...            ...
984  C.M.A. Eduardo Frei Montalva, Antártica          950001
985  C.M.A. Eduardo Frei Montalva, Antártica          950001
986  C.M.A. Eduardo Frei Montalva, Antártica          950001
987  C.M.A. Eduardo Frei Montalva, Antártica          950001
988  C.M.A. Eduardo Frei Montalva, Antártica          950001

[41809 rows x 2 columns]

### Códigos asociados a las regiones donde hay laboratorios

180005, 200006, 230001, 270008, 290004, 330007, 330021, 340031, 360011, 360019,380013,390006, 410005

In [61]:
df = Temp2018_2021.loc[Temp2018_2021['CodigoNacional'].isin([180005, 200006, 230001, 270008, 290004, 330007, 330021, 340031, 360011, 360019,380013,390006, 410005])].reset_index()

In [62]:
df

,index,CodigoNacional,NombreEstacion,Latitud,Altura,Año,Mes,Dia,T.Maxima,T.Minima,T.Media
0,0,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,1,20.7,26.5,23.6
1,1,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,2,19.9,26.5,23.2
2,2,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,3,18.5,25.0,21.75
3,3,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,4,17.4,23.9,20.65
4,4,180005,"Chacalluta, Arica Ap.",18&deg 21' 5'' S,63,2018,1,5,17.6,25.5,21.55
...,...,...,...,...,...,...,...,...,...,...,...
16588,625,410005,El Tepual Puerto Montt Ap.,41&deg 26' 51'' S,87,2021,6,26,0.1,9.0,4.55
16589,626,410005,El Tepual Puerto Montt Ap.,41&deg 26' 51'' S,87,2021,6,27,-3.3,8.2,2.45
16590,627,410005,El Tepual Puerto Montt Ap.,41&deg 26' 51'' S,87,2021,6,28,-4.4,9.2,2.4
16591,628,410005,El Tepual Puerto Montt Ap.,41&deg 26' 51'' S,87,2021,6,29,-2.4,8.9,3.25
16592,629,410005,El Tepual Puerto Montt Ap.,41&deg 26' 51'' S,87,2021,6,30,0.1,10.6,5.35

In [76]:
df_media = df.groupby(["Año", "CodigoNacional"])['T.Media'].mean()
df_mediaxregion = df_media.reset_index()
df_mediaxregion

     Año  CodigoNacional    T.Media
0   2018          180005  19.722865
1   2018          200006  18.973699
2   2018          230001  16.858767
3   2018          270008  15.955915
4   2018          290004  14.452335
5   2018          330007  14.554396
6   2018          330021  16.118630
7   2018          340031  14.973416
8   2018          360011  13.655068
9   2018          360019  13.043425
10  2018          380013  11.997478
11  2018          390006  11.330632
12  2018          410005  10.461918
13  2019          180005  19.498082
14  2019          200006  18.983288
15  2019          230001  17.022055
16  2019          270008  16.049589
17  2019          290004  14.531781
18  2019          330007  14.761570
19  2019          330021  16.443288
20  2019          340031  15.461978
21  2019          360011  14.174110
22  2019          360019  13.414247
23  2019          380013  12.517409
24  2019          390006  11.422207
25  2019          410005  10.340411
26  2020          180005  19.817930
27  2020          200006  19.238934
28  2020          230001  17.258516
29  2020          270008  16.253689
30  2020          290004  14.637978
31  2020          330007  14.540164
32  2020          330021  16.379781
33  2020          340031  15.846260
34  2020          360011  14.495342
35  2020          360019  13.334290
36  2020          380013  12.417769
37  2020          390006  11.496175
38  2020          410005  10.660792
39  2021          180005  20.265193
40  2021          200006  19.827901
41  2021          230001  17.675414
42  2021          270008  16.836740
43  2021          290004  15.474167
44  2021          330007  15.084286
45  2021          330021  16.898895
46  2021          340031  16.254144
47  2021          360011  15.630939
48  2021          360019  14.298066
49  2021          380013  14.001657
50  2021          390006  13.097238
51  2021          410005  11.938950